[connection]
id={{ ansible_default_ipv4.interface }}
type=ethernet
interface-name={{ ansible_default_ipv4.interface }}
autoconnect=true

[ethernet]
cloned-mac-address=random
mac-address-randomization=never

[ipv4]
method=auto

[ipv6]
method=auto
addr-gen-mode=stable-privacy
